.login {
    width: 100%;
    flex: 1;
}

.disable {
    opacity: 0.5;
    cursor: not-allowed;
}

.login {
    font-size: 1em;
    font-weight: lighter;
    line-height: 1.5;
    overflow: visible;
    height: calc(1em + 1.25rem + 0px);
    padding: 0px 2px;
    margin: 10px 0px;
    width: 90%;
    border-bottom: 1px solid #B0C4DE !important;
    background: transparent;
    color: whitesmoke;
    text-transform: capitalize;
}

.login::placeholder {
    color: #C2BEBE;
}

.login:focus {
    outline: none;
}

.passIcon {
    position: relative;
    right: 0;
    top: 6px;
    bottom: 0px;
    left: -25px;
    margin: auto;
    cursor: pointer;
    color: #c3daf3;
}

/* Add Data  */
.addData {
    border: 1px solid #C2BEBE !important;
    background-color: transparent;
    height: 28px;
    padding: 0px 5px;
    text-transform: capitalize;
    min-width: 300px;
    font-size: 13px;
    width: 100%;
}

/* Add Data form */
.addDataform {
    color: inherit;
    border: 1px solid #C2BEBE !important;
    background-color: transparent;
    height: 28px;
    padding: 0px 5px;
    text-transform: capitalize;
    font-size: 13px;
    width: 100%;
}

.addDataform:focus {
    border: 1px solid #80C1F9 !important;
}

.addDataform::placeholder {
    color: #B0C4DE;
    letter-spacing: 0.5px;
    font-weight: lighter;
}

.addData:focus {
    border: 1px solid #80C1F9 !important;
}

.addData::placeholder {
    color: #B0C4DE;
    letter-spacing: 0.5px;
    font-weight: lighter;
}

/* Add Data File  */

.addDataFile {
    border: 1px solid #C2BEBE !important;
    background-color: transparent;
    height: 150px;
    width: 250px;
    padding: 0px 5px;
    min-width: 300px !important;
    font-size: 13px;
}

.addDataFile input {
    display: none;
}

.addDataFile label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: center;
    line-height: 280px;
}

/* For Text Area */
.loginArea {
    width: 100%;
}

.textArealogin {
    width: 93%;
    height: 10rem;
    border: 1px solid #B0C4DE;
    background-color: #F0F8FF;
    padding: 0.5rem;
    margin: 10px 0px;
    font-size: 1em;
    /*  cannot resize */
    resize: none;
}

.error {
    color: red;
    font-size: 0.8rem;
    margin: 0px 0px 0px 0px;
}

.textAreaAddData {
    width: 100%;
    min-width: 300px;
    height: 10rem;
    border: 1px solid #B0C4DE;
    background-color: #F0F8FF;
    padding: 0.5rem;
    margin: 3px 0px 0px 0px;
    font-size: 13px;

    /*  cannot resize */
    resize: none;
}

.textAreaAddData:focus {
    border: 1px solid #80C1F9 !important;
}

/*  for forma insert Data */
.textArea {
    color: inherit;
    min-height: 130px;
    width: 100%;
    border: 1px solid #C2BEBE !important;
    background-color: transparent;
    padding: 0px 5px;
    min-width: 300px !important;
    font-size: 13px;
    resize: none;
}

.textArea:focus {
    border: 1px solid #80C1F9 !important;
}

.textArea::placeholder {
    color: #B0C4DE;
    letter-spacing: 0.5px;
    font-weight: lighter;
}