.button {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
    flex-direction: row;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
    border: 0;
    white-space: nowrap;
    -webkit-appearance: none;
    -moz-appearance: none;
    webkit-font-smoothing: antialiased;
}


.leftIcon {
    position: relative;
    right: 5px;
    top: 2px;
}

.rightIcon {
    position: relative;
    left: 5px;
    top: 2px;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/*Model */

.model {
    width: 90%;
    background-color: #D8E6F1;
    color: black;
    padding: 3px 18px;
    margin-top: 2rem;
}

/* Save and continue */
.addData {
    background-color: #003153;
    color: #fff;
    font-weight: 500;
    padding: 5px 15px;
    width: 170px;
    border-radius: 1px;
    font-weight: 400;
    height: 35px;
    text-transform: capitalize;
}

/* view Data */
.view {
    background-color: #bbdef9;
    color: black;
    padding: 5px 15px;
    width: 170px;
    border-radius: 1px;
    font-weight: 400;
    color: #003153;
    height: 35px;
}
/* view Data Edit */
.viewedit {
    background-color: #bbdef9;
    color: black;
    padding: 5px 15px;
    width: 170px;
    border-radius: 1px;
    font-weight: 400;
    color: #003153;
    height: 35px;
}

/* usermodel */
.usermodel {
    width: 90%;
    background-color: transparent;
    color: white;
    padding: 3px 18px;
    margin-top: .5rem;
}

/* showicon */
.showicon {
    position: absolute;
    right: 6%;
    bottom: 3.5%;
    padding: 6px 12px;
    cursor: pointer;
    color: #003153;
    background-color: #D8E6F1;
    border-radius: 2px;
    border: 1px solid #0000;
    font-size: 14px;
}

@media (max-width: 868px) {
    .showicon {
      display: none;
    }
    .addData {
        width: 135px;
    }
    .view {
        width: 135px;
    }
    .viewedit {
        display: none;
    }
}