.table {
    width: 99%;
    background-color: transparent;
    margin-top: 10px;
    overflow: auto;
   
}

.table table {
    margin-top: 8px;
    width: 100%;
    border-collapse: collapse;
    /* color: #00416A; */
    white-space: nowrap;
    min-width: 1200px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.table::-webkit-scrollbar {
    height: 8px !important;
    margin-top: 10px;
}

.table table tbody td {
    font-size: 14px;
}

.table table th {
    padding: 2px;
    font-size: 16px;
    font-weight: lighter;
    text-align: left;
    border-bottom: 1px solid #B0C4DE;
    border-top: 1px solid #B0C4DE;
}

.table table tr td {
    padding: 2px;
    width: auto;
    text-align: left;

}

.action {
    position: relative;
    right: 6rem;
    width: 60px !important;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.table table tbody tr:hover>* {
    background-color: #00416A;
    color: white !important;
    cursor: pointer;
}

.table table thead th img {
    width: 15px;
    height: 20px;
    cursor: pointer;
    position: relative;
    top: 5px;
}

.radio label {
    margin-top: 2px;
}


.svg:hover {
    cursor: pointer;
    color: white;
}